.container {
  background-color: #703b09;
  height: 80px;
}
.headerTitile {
  font-size: 24px;
  padding: 15px 0 0 100px;
  color: #f1f1f1;
}
.Menu {
  position: absolute;
  top: 0;
  right: 0;
}

.list {
  list-style: none;
  float: left;
  line-height: 30px;
  display: block;
  width: 100px;
  padding: 15px;
  margin: 5px;
}

a{
  text-decoration: none;
  color: #f1f1f1;
}

@media (max-width: 499px) {
  .Menu {
    display: none;
  }
}
